bootstrap/cache/*

storage/framework/cache/*
!storage/framework/cache/data
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

vendor/
**/*node_modules

**/*.git
.idea
**/*.gitignore
**/*.gitattributes
**/*.sass-cache
**/*.env*

npm-debug.log
yarn-error.log

.editorconfig
.dockerignore
.gitlab-ci.yml
*Dockerfile
docker-compose*.yml
